<!-- pills -->
<ul class="nav nav-pills justify-content-evenly mt-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="fragrance" routerLinkActive="active">Fragrance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="glasses" routerLinkActive="active">Sun Glasses</a>
    </li>
<li class="nav-item">
      <a class="nav-link" routerLink="jewellery" routerLinkActive="active">Jewellery</a>
    </li>
    
  </ul>

  <div class="contai">
      <router-outlet>
          </router-outlet>
  </div>