<!-- displaying info in table -->
<div class="p-3">
<table class="table text-center" style="background-color: #f0f0f0;">
    <thead style="font-family: New Tegomin, serif;">
        <tr>
            <th>UserId</th>
             <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>City</th> 
        </tr>
    </thead>
    <tbody>
        
            <tr *ngFor="let empObj of empData" >
            <td>
                <!-- <button class="btn btn-small btn-warning">{{empObj.id}}</button> -->
                {{empObj.id}}
            </td>
          <td>
                {{empObj.name}}
            </td>
            <td>
                {{empObj.username}}
            </td>
            <td>
                {{empObj.email}}
            </td>
            <td>
                {{empObj.address.city}}
            </td> 
            
        </tr>
        
    </tbody>
    </table> 
</div>