<div class=" container hme">
<div id="carouselExampleControls" class="carousel slide p-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.chanel.com/emea/img/t_one/q_auto:good,fl_lossy,dpr_1.2,f_jpg/w_560/prd-emea/sys-master/content/hba/h95/9224002699294-m(5).jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
            <h3>CHANEL Eyewear 2021 Collection 
                <br> 
                    <button class="text-center btn-sm m-3 p-2">See More</button>
            </h3>
        </div>
          
      </div>
      <div class="carousel-item">
        <img src="https://www.chanel.com/emea/img/prd-emea/sys-master/content/hd3/h43/9222234079262" class="d-block w-100" alt="...">
        <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
            <h3 class="frag">CHANEL FRAGRANCE 2021 Collection 
                <br> 
                    <button class="text-center btn-sm m-3 p-2">See More</button>
            </h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://img-cdn.chanelwebservices.com/1617558108001-backupj1260s16x9png_max_lg_lg.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
            <h3>CHANEL JEWELLERY 2021 Collection 
                <br> 
                    <button class="text-center btn-sm m-3 p-2">See More</button>
            </h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container bg-dark  text-white d-flex flex-column justify-content-evenly ">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 m-5">
    <div class="col">
      <h6 class="p-1">EXPLORE CHANEL.COM</h6>
      <ul class="pt-3">
        <li>Fragrance</li>
        <li>sunglasses</li>
        <li>Jewellery</li>
      </ul>
    </div>
    <div class="col">
      <h6 class="p-1">ONLINE SERVICES</h6>
      <ul class="pt-3">
        <li>Payment Method</li>
        <li>Shipping Options</li>
        <li>My Account</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="col">
      <h6 class='p-1'>BOUTIQUE SERVICES</h6>
      <ul class="pt-3">
        <li>Find a Boutique</li>
        <li>Book an appointment</li>
        
      </ul>
    </div>
    

  </div>
</div>